@import "tailwindcss";

:root {
  --background: #EDE3E9;
  --foreground: #242038;
  --light: #F7ECE1;
  --primary: #9067C6;
  --primary-hover: #8D86C9;
  --secondary: #4C3B73;
  --rose: #D4BEE4;
  --border: #CAC4CE;
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
a, button, link{
  cursor: pointer;
}